<div class="container">
    <div class="row">
        <div class="col-12 burgerImage">
            <center>
                <img class="rounded mx-auto d-block" src="/assets/img/burger_img.jpg">
                <h1>Eat-The-Burger</h1>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12 burgerImage">
            <center>
                <form class="create-form" autocomplete="off">
                    <input type="text" id="burger" name="burger_name">
                    <button class="btn btn-warning postBurger" type="submit">Submit</button>
                </form>
            </center>
        </div>
    </div>

</div>