<li class="list-group-item list-group-item-warning">
	{{burger_name}}
		{{#unless devoured}}
		<button class="change-devour btn btn-warning btn-sm" data-id={{id}} data-devourStatus={{devoured}}>Devour
			It!</button>
		{{/unless}}
</li>