<li>
	{{burger_name}}

	<div class="order-btn">
		{{#unless devoured}}
		<button class="change-devour btn btn-danger btn-sm" data-id={{id}} data-devourStatus={{devoured}}>Devour
			It!</button>
		{{/unless}}

	</div>

</li>